@model IronCore.Areas.Admin.Models.EditUserViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Редактирование пользователя";
}

<h2 class="mb-3">Редактирование пользователя</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.Id)

    <div class="mb-3">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Email, "Email / Логин")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-secondary ms-2" })
}
