<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <span>IronCore</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @(ViewBag.ActivePage == "Index" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Why" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Why", "Home")">Why us</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Programs" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Programs", "Catalog")">Programs</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Nutritions" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Nutritions", "Catalog")">Nutritions</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Trainers" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Trainers", "Trainers")">Trainers</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Contact" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact Us</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Login" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                    </li>
                    <li class="nav-item @(ViewBag.ActivePage == "Registration" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Registration", "Account")">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>