@model List<IronCore.Models.CoachViewModel>

@{
    ViewBag.Title = "Trainers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="trainer_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Our Gym Trainers</h2>
        </div>
        <div class="row">
            @foreach (var coach in Model)
            {
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="box">
                        <a href="@Url.Action("Coach", "Coach", new { id = coach.Id })" target="_blank">
                            <div class="name">
                                <h5>@coach.FullName</h5>
                            </div>
                            <div class="img-box">
                                <img src="@Url.Content(coach.ImagePath ?? "~/Images/default-trainer.jpg")" alt="@coach.FullName" />
                            </div>
                        </a>
                        <div class="social_box">
                            @if (!string.IsNullOrEmpty(coach.TelegramUrl))
                            {
                                <a href="@coach.TelegramUrl" target="_blank">
                                    <img src="@Url.Content("~/Images/telega.png")" alt="Telegram" />
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(coach.SteamUrl))
                            {
                                <a href="@coach.SteamUrl" target="_blank">
                                    <img src="@Url.Content("~/Images/steam.png")" alt="Steam" />
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(coach.InstagramUrl))
                            {
                                <a href="@coach.InstagramUrl" target="_blank">
                                    <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram" />
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
