
@{
    ViewBag.Title = "Trainers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="trainer_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Our Gym Trainers</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <div class="name">
                        <h5>Meliuh Samir</h5>
                    </div>
                    <div class="img-box">
                        <img src="@Url.Content("~/Images/t1.jpg")" alt="Meliuh Samir">
                    </div>
                    <div class="social_box">
                        <a href="https://t.me/Samch0s" target="_blank">
                            <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                        </a>
                        <a href="https://steamcommunity.com/id/sam4ch/" target="_blank">
                            <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                        </a>
                        <a href="https://www.instagram.com/sam_4ch/" target="_blank">
                            <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <div class="name">
                        <h5>Liogchii Vitalii</h5>
                    </div>
                    <div class="img-box">
                        <img src="@Url.Content("~/Images/t2.jpg")" alt="Liogchii Vitalii">
                    </div>
                    <div class="social_box">
                        <a href="https://t.me/Bitezp" target="_blank">
                            <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                        </a>
                        <a href="https://steamcommunity.com/profiles/76561198989588190" target="_blank">
                            <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                        </a>
                        <a href="https://www.instagram.com/bite_rio/" target="_blank">
                            <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto">
                <div class="box">
                    <div class="name">
                        <h5>Bagrin Constantin</h5>
                    </div>
                    <div class="img-box">
                        <img src="@Url.Content("~/Images/t3.jpg")" alt="Bagrin Constantin">
                    </div>
                    <div class="social_box">
                        <a href="https://t.me/marsonskii" target="_blank">
                            <img src="@Url.Content("~/Images/telega.png")" alt="Telegram">
                        </a>
                        <a href="https://steamcommunity.com/id/fanofichikanakano" target="_blank">
                            <img src="@Url.Content("~/Images/steam.png")" alt="Steam">
                        </a>
                        <a href="https://www.instagram.com/hoetsuhigashihara/" target="_blank">
                            <img src="@Url.Content("~/Images/instagram.png")" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>